#main {
  margin-top: 2%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.pomodoro-text {
  font-size: 6em;
  width: 250px;
  height:  250px;
  line-height: 300px;
  margin:  auto;
}

#indicator {
  padding-bottom: 10px;
}

.continuous-mode {
  position: absolute;
  right:  0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  display: none;
}

.pomodoros-count {
  margin: 15px 0px;
  padding: 15px 0px;
  font-size: 1.4em;
  text-align: center;
}

.pomodoros-count p{
  background: #2f4f4f;
}

@media screen and (max-device-width: 650px) 

  {
  a#start, a#stop {
    height: 160px;
    line-height: 160px;
    font-size: 60px;
    padding-top: 0px;
    margin-bottom: 50px;
  }

  .pomodoros-count p{
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  .pomodoro-text {
    font-size: 8em;
  }

  .glyphicon {
    font-size: 80px;
  }
}







