#main {
  margin-top: 3rem;
}

h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.pomodoro-text {
  margin: 3rem auto;
  width: 250px;
  font-size: 10rem;
  text-align: center;
}

.pomodoro-indicator {
  margin-bottom: 3rem;
  color: #00bc8c;
  font-size: 39px;
  text-align: center;
}

.continuous-mode {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  display: none;
}

.pomodoros-count {
  color: rgba(182, 37, 22, .5);
}

.pomodoros-count .title {
  margin-bottom: 3rem;
  font-size: 4rem;
  text-align: center;
}

.pomodoros-count .value {
  font-size: 5rem;
  text-align: center;
}

.pomodoros-count .value sub {
  font-size: 16px;
}

.pomodoro-buttons div a {
  margin-bottom: 3rem;
}

@media (max-width: 959px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-device-width: 650px) {
  a#start, a#stop {
    height: 160px;
    line-height: 160px;
    font-size: 60px;
    padding-top: 0;
    margin-bottom: 50px;
  }

  .pomodoros-count p {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .pomodoro-text {
    font-size: 8em;
  }

  .glyphicon {
    font-size: 80px;
  }

  .modal-title {
    font-size: 60px;
    padding: 20px;
  }

  .control-label {
    font-size: 60px;
    display: block;
    float: none;
    text-align: center;
  }

  #workTime, #breakTime {
    float: none;
    height: 60px;
    font-size: 60px;
    padding: 40px 20px;
    display: block;
    margin-top: 10px;
  }

  .checkbox {
    font-size: 45px;
  }

  .checkbox input[type="checkbox"] {
    width: 40px;
    height: 40px;
    margin-left: -45px;
    margin-top: 15px;
  }

  #changeSettings {
    height: 70px;
    width: 260px;
    font-size: 35px;
  }

  .modal-body {
    position: relative;
    padding: 20px;
    font-size: 45px;
  }

}







